* {
    border: 1px solid red;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    height: 100svh;

    width: 100vw;
    width: 100svw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.group-container{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.group-container > ul { 
    list-style: none;
    padding: 0;
    margin: 0;

}

ul{
    white-space: nowrap;
}


main {
    height: 100%;
    width: 100%;
    display: flex;
}

.task-container{
    border: 1px solid blue;
    width: 100%;
}

.task-container-header{
    display: flex;
    justify-content: space-between;
}

.task-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}